@media only screen and (min-width: 500px) {


main div.currentWeather {
    float: left;
    padding: 10px;  
    margin: 10px;
    height: 800px;
}

div.gallery figure {
    flex-basis: 46%;
}

main section article {
    float: left;
    padding: 10px;  
    border: 10px solid #000F49;
    margin: 10px;
    height: 800px;
}


/* TEMPLE PAGE IMAGES */
main div figure img {
    display: block;
    padding: 8px;
    margin: 0;
    max-width: 100%;
}

}
/* end of media query */