/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------BODY----------*/
body {
    background-color: #FCD581;
    
}

/*----------HEADER---------- */
header {
	background-color: #FFFFBD;
    box-shadow: 0 0 30px rgb(226, 158, 57);
    text-align: center;
}

header picture.logo {
    justify-content: center;
    width: 96%;
}





/*----------NAVIGATION----------*/
.hamburger {
    color: rgb(226, 158, 57);
    text-align: center;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #555;
}
nav {
    box-shadow: 0 0 15px rgb(226, 158, 57);
    max-width: 100%;
    font-family: 'Amita', serif;
    background-color: #000F49;
}
nav ul {
        margin: 0; 
        padding: 0;
        list-style-type: none;
        }

nav ul li a {
        display: flex;
        padding: .8rem 0; /* 44 min height */
        color: rgb(226, 158, 57);
        text-decoration: none;
        border-top: 1px solid #fff;
        }
nav ul li a.active {background-color: rgb(5, 53, 83); color: #fff;}
nav ul li a:hover {
    background-color: rgba(135, 206, 250, 0.637);
    color: #fff;
}
nav ul.hide {display: none;}

/*----------MAIN-------------*/
main div.container {
    display: flexbox;
    margin: 1%;
}

main h1 {
    font-family: Amita, serif;
    color: #000F49;
}

main div button {
    font-family: 'Amita', cursive;
    margin: 4%;
    min-width: 25%;
    min-height: 50px;
    text-align: center;
    font-size: 35px;
    background-color: #000F49;
    
}

main div button a {
    text-decoration: none;
    color: rgb(250, 223, 69)
}


main div button a:hover {
    
    color: lightseagreen;
}

main div article {
    border: 7px solid blanchedalmond;
    border-radius: 8px;
    font-family: 'Lora', sans-serif;
    padding: 1%;
    margin: 1%;
    }

main div article.noBorder {
    border: none;
}

.homeIMG {
    min-width: 50%;
}

.l-img {
    float: left;
}
.r-img {
    float: right;
}




/* ------TEMPLES------ */
main section article {
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: #FFFFBD;
    font-family: 'Lora', sans-serif;
    width: 90%;
    min-height: 300px; 
    padding: 25px;
    margin: 20px;
    border: 10px solid rgb(250, 223, 69);
    overflow-x: auto; 
}

section p {
    margin: 5px 0;
}
      
main div.currentWeather {
    font-family: 'Lora', sans-serif;
    border: 8px solid rgb(5, 53, 83);
    padding: 25px;
    margin: 10px;
    background-color: rgba(107, 165, 201, 0.514);
    height: 700px; 
    width: 90%;
}


/*-----------FORM-------------*/
form fieldset {
    margin: 2rem 0;
    border: 3px solid rgba(137, 157, 247, 0.644);
    border-radius: 2px;
    padding: .5rem 2%;
    font-family: 'Lora', sans-serif;
}

form legend {
    color: #000F49;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: Amita, serif;
    font-size: 1.08rem;
    background-color: rgba(137, 157, 247, 0.644)
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #000F49;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: .8rem;
    border: solid 1px rgba(183, 238, 248, 0.808);
    border-radius: 4px;
    padding: .75rem;
    color: rgb(85, 85, 85);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: rgba(183, 238, 248, 0.808);
    color: #000F49;
    border-radius: .07rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: rgba(137, 157, 247, 0.644) solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.missionary {
    display: inline-block;
}
/*-------FOOTER--------------*/
footer {
    background-color: #FFFFBD;
    font-family: 'Lora', cursive;
    box-shadow: 0 0 30px rgb(226, 158, 57);
    padding: 2%;
    color: #000F49;
}

footer p a:hover {
    background-color: rgba(135, 206, 250, 0.637);
    color: rgb(22, 0, 73);
}

footer a {
    color: #000F49;
    text-decoration: none;
    list-style: none;
}

#map {
    float: left;
    width: 50%;
    height: 300px;
    background-color: grey;
    
    border: solid rgb(146, 144, 139);
    margin: 0 20px 0 0;
}


/* Force an element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

