@media only screen and (min-width: 560px) {

main div.currentWeather {
    max-width: 33%;
    float: right;
}

div.gallery figure {
    flex-basis: 46%;
}

main article picture img{
    display: block;
    float: left;
    padding: 8px;
    margin: 0;
    max-width: 50%;
}
}
/* end of media query */