body {
	background-color: #ffd183;
}

header {
	margin: 10px auto;
	background-color: lightskyblue;
	/*border: 8px solid #ffd183;*/
	box-shadow: 0 0 15px #777;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

img {
    max-width: 100%;
}

}

.motto {
    font-family: 'Poppins', sans-serif;
}

nav {
    text-align: center;
    padding: 10px auto;
    max-width: 700px;
}

.navigation { list-style: none; text-align: center; }
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a {	display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .navigation a:hover {	color: #000; background-color: #fff; font-weight: 700;	}

ul {
    list-style-type: none;
    background-color: lightgoldenrodyellow;
    margin: 5px;
    padding: 5px;
    font-family: 'Staatliches', cursive;
  }
.current {
    background-color: lightskyblue;
}

a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}
a:hover { 
    color: rgb(255, 94, 0);
    text-decoration: none;
}
a:active {
    color: purple;
    text-decoration: none;
   /*background-color: hotpink;*/
}

main {
    text-align: center;
    font-family: 'Staatliches', cursive;

}

.header {
    font-family: 'Poppins', sans-serif;
}

footer {
    margin: 10px auto;
    background-color: lightskyblue;
	/*border: 8px solid #ffd183;*/
	box-shadow: 0 0 30px #777;
	text-align: center;
}

/* hamburger menu */
.responsive li { display: block; }
@media only screen and (min-width: 32.5em) {
    .navigation li:first-child { display: none;	}
      .navigation li { display: inline-block; margin-right: 1rem;}	
      .navigation li a { color: green;}
  }